<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>org.hcl.shoppingKart.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/LoginServlet</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ValidationFilter</filter-name>
    <filter-class>org.hcl.shoppingKart.filter.ValidationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ValidationFilter</filter-name>
    <url-pattern>/cart.do</url-pattern>
    <url-pattern>/orders</url-pattern>
    <url-pattern>/BrowseItems</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>org.hcl.shoppingKart.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>org.hcl.shoppingKart.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cart.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>org.hcl.shoppingKart.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/orders</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberRegistrationServlet</servlet-name>
    <servlet-class>org.hcl.shoppingKart.servlet.MemberRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberRegistrationServlet</servlet-name>
    <url-pattern>/BrowseItems</url-pattern>
  </servlet-mapping>
</web-app>