
<nav class="navbar navbar-expand-lg fixed-top">
  <div class="navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <div class="hdd">
        <b class="nav-link1" href="#">Home Device Database</b>
      </div>
      </li>
    </ul>
    <form class="form-inline1 my-2 my-lg-0">
      <div class="nav-item">
        <b class="nav-link" href="#">Log Out</b>
      </div>
    </form>
  </div>
</nav>

<div class="nav-scroller navbar-dark">
  <nav class="nav nav-underline">
    <li class="nav-item">
      <a class="nav-link" href="#">Dashboard</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage Device</a>
      <div class="dropdown-menu" aria-labelledby="dropdown01">
        <a class="dropdown-item" href="#">Edit Device</a>
        <a class="dropdown-item" href="#">Approve Devices</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Device List</a>
    </li>
    <form class="form-inline my-2 my-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">User1</a>
      </li>
    </form>
  </nav>
</div>


<main role="main" class="container">
  <!-- <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4"> -->
    <div class="dashboard text-center">
      <h2 class="h2">Dashboard</h2>
      </div>

      
    <div class="row">
      <div class="col-md-6"><br><br>
        <div style="display: block">
          <canvas baseChart 
            [data]="Data" 
            [colors]="Colors"
            [options]="pieChartOptions"
            [labels]="pieChartLabels"
            [plugins]="pieChartPlugins"
            [chartType]="pieChartType">
          </canvas>
        
          <!-- <div class="chart">
            <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
          </canvas>
          </div> -->
      </div>
      <div class="heading1">
        <b >Device Distriution </b>
      </div>
      </div>
      <div class="col-md-6"><br><br>
        <div class="chart-wrapper" style="height: 300px; width:100%;">
          <canvas baseChart 
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [width]="barWidth"
          [chartType]="barChartType">
          
        </canvas>
        </div>
        <div class="heading">
          <b >Device Performance</b>
        </div>
        
      </div>
      <!-- <div style="width: 700px;">
        <canvas baseChart 
          [data]="Data" 
          [colors]="Colors"
          [chartType]="barChartType">
        </canvas>
    </div>-->
     </div> 