/* 
 body{
      
       margin:0px;
       padding:0px;
}


.left-align{
       
       float:left;
       padding:10px 10px 10px 60px;
       
       
}


.left-align p{
       
       font-size:35px;
       font-family:cursive;
       color:#0786f5;
       font-weight:bold;
}
.right-align p{
       font-family:fangsong;
}


.right-align{
       
       float:right;
       padding:10px 10px 10px 10px;
       
}
.right-align li{
       display:inline-block;
       font-size:20px;
       padding:0px 10px 10px 10px;
}
li{
       list-style-type:none;
}

.right-align input[type="submit"]
{
    border: none;
    outline: none;
    height: 30px;
    background:#0786f5;
    color: #fff;
    font-size: 20px;
    border-radius: 20px;
    cursor:pointer;
}

.selector{
       position:absolute;
       padding:10px;
       top: 23%;
       left:30%;
       border-collapse: collapse;
       border:0.5px solid #000;
    border-style:groove;
       height:160px;
       width:42%;
       border-radius:10px;
    background-color:#87eda2;
    border-radius:10px;
    border-width: thin 1px 1px 1px;
    
       
}
.text small{
       font-size:10;
       color:grey;
       
}

.body-box {
       font-family: sans-serif;
       font-size: 14px;    
}

.selector p{
       padding:45px 45px 55px 100px;
       font-size:20px;
       font-weight: ;
       font-family: serif;
}


.selector li{
       list-style-type:none;
    line-height:5px;
       padding:0px 0px 3px 15px; 
       display:inline-block;
       font-size:16px;
       font-weight:bold;
       color:#000000;
}



.box {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.box select {
  background-color: white;
  color: #8D919B;
  padding: 3px;
  width: 200px;
  border-radius:10px;
  font-size: 18px;

}
.selector p{
       color:#8D919B;
       font-size:20px;
       font-weight:;
}



.selector input[type="submit"]
{
    border: none;
       padding:10px 25px 10px 25px;
    outline: none;
    height: 30px;
    background: #0786f5;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
}

.ItemsDisplay{
       position:absolute;
       padding:10px;
       top: 53%;
       left:30%;
       border-collapse: collapse;
       border:0.5px solid #000;
    border-style:groove;
       height:280px;
       width:42%;
       border-radius:10px;
    border-width: thin 1px 1px 1px;
}

.left-side{
       float:left;
       padding:0px;
}

.left-side p{
       padding:0px 0px 0px 10px;
       font-size:18px;
       font-weight:bold;
}
.right-side{
       float:right;
       padding:15px;
}

.apply-btn input[type="submit"]
{
       height: 30px;
    background: #0786f5;
    color: #fff;
    font-size: 18px;
    border-radius: 50px;
    cursor:pointer;
}
.ItemsDisplay input[type="submit"]
{
       float:right;
    height: 30px;
    background: #0786f5;
    color: #fff;
    font-size: 18px;
    border-radius: 50px;
    cursor:pointer;
}

table,th,td{
       clear:both;
       border:1px solid black;   
}
table{
       border-collapse:collapse;
}
.btn{
       background-color:#0786f5;
       border:none;
       color: white;
       text-align: center;
    cursor:pointer; #808080
       font-size:24px;
       padding:10px 25px;
       border-radius: 15px;
       margin:4px 2px;
       cursor:pointer;
}
.top
{
       font-family:cursive;
       width:100%;
       text-align: center;
       height:80px;
    top: 1%;
      color:white;
       font-size:28px;
      border:0.5px solid white; 
       border-radius:10px; 
}
.top th
{
       text-align:right;
       background-color:#59AEFB;
       border:0.5px solid #59AEFB; 
       width:80px;
       height:60px;
}
th 1{
       
    width:80px;
    height:60px;
    background-color:#59AEFB;
}
th one{
       
}
td{
       width:100px;
       height:20px;
       padding:20px;
}

 .table{
       padding:0px 90px 90px 100px;
}

a{
       color:black;
       text-decoration:none;
}
.image1{
       position:absolute;
       top:70%;
       left:42%;
       cursor: pointer;
}
.image1 img{
       width:30px;
       height:30px;
       padding:10px;
       cursor: pointer;
}

.pager-nav {
    margin: 16px 0;
}
.pager-nav span {
    display: inline-block;
    padding: 4px 8px;
    margin: 1px;
    cursor: pointer;
    font-size: 14px;
    background-color: #FFFFFF;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.pager-nav span:hover,
.pager-nav .pg-selected {
    background-color: #f9f9f9;
    border: 1px solid #CCCCCC;
} */ 









.container{
  width: 100%;
  background-color:#0786f5;
  height: 100px;
  font-size: 16px;
  padding: 10px;
}
.apply input[type="submit"]{
      background-color: #0786f5;
      color: #FFF;
      padding: 5px 10px;
      border: 1px solid#0786f5;
      border-radius: 5px;
  }
  .selector{
    position:absolute;
    padding:10px;
    top: 24%;
    left:30%;
    border-collapse: collapse;
    border:0.5px solid #000;
    height:160px;
    width:45%;
    border-radius:20px;
}
.ItemsDisplay{
  position:absolute;
  padding:10px;
  top: 105%;
  right: 1px;
  border-collapse: collapse;
  border:0.5px solid #000;
  height:300px;
  width:97%;
  border-radius:10px;
}
.pricerange input[type="number"]{
  width:100px;

}

@media screen and (max-width: 700px) {
  body{
      padding:0px 200px 80px 60px;
      width: none;
  }
  .col-xs-6{
      padding:0px 10px 0px 0px;
  
  }
  .dropdown label{
   padding-right: 6rem;
      
  }
  
  .pricerange input[id="max"]{
      width:3px; 
      padding-right: 8rem; 
  }   
  .pricerange input[id="min"]{
      width:3px; 
     padding-right:8rem;
  }
  
}



.order{
  float:left;
  font-size: 45px;
  font-family: Times New Roman;
  color:#0A0909;
  padding-left: 4.5rem;
  
}
/* .forward input[type="submit"]
{
 border: none;
 outline: none;
 height: 30px;
 background:#0786f5;
background:white;
 color: #fff;
 font-size: 20px;
 border-radius: 20px;
 cursor:pointer;
} */
.center-align{
  width: 100%;
  color: aliceblue;
	text-align: center;
	font-size: 45px;
  font-family: cursive; 
}
.container top-right{
  width: 100%;
    float: top;
    margin-top: 100px;
}
header {
  padding-top: 25px; 
}
.container ul{ 
  margin: 0;
  padding: 0;
}
.container li{
  list-style: none;
  float: left;
}
.right-align li a{
  display: block;
  text-decoration: none;
  color: aliceblue;
  margin-right: 3px;
  padding: 3px 3px 3px 3px;
  border: 1px solid aliceblue;
}
.user{
  float:right;
  padding-right:13px;
  color: aliceblue;
  padding-top:5px;
   td{
           width:100px;
           height:20px;
           padding:20px;
    }
    table,th,td{
           clear:both;
           border:1px solid black; 
            height:4rem;
            
    }
    table{
           border-collapse:collapse;
           
    }
    
  
    
    @media screen and (max-width: 1000px){
        .order{
            font-size:35px;
            padding-left: 0px;
           
        }
          td {
           text-align: center;
           
            padding-right:20px;;
          }
          .orderstable{
            padding:0px 100px 190px 9px;
              width:100%;
          }
          table {
            border-spacing: 0;
            border-collapse: collapse;
            width: 80%;
          }
          
         #color1,
         #color2,
         #color3{
             width:40%;
         }
          
          
          table th {
            
            font-size: auto;
          }
          
          table th,
          table td {
            border: 1px solid #0a0a0a;
            padding: 0.9px;
           
          }
          
          
          
          table tbody tr:hover td {
            background-color: #e6dce9;
          }
    }


}
.right-align { 
  text-decoration: none;
  color: #609fd6;;
  float:right;
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 18px;
}
.right-align a:hover{
  background-color: rgb(11, 87, 138);
}

.right a:hover{
  background-color: rgb(11, 87, 138);
}
.right a{
    color: aliceblue;
    text-decoration: none;
    display: block;
    float:right;
    margin-right: 15px;
    
    padding: 5px 7px -1px 1px;
    border: 1px solid aliceblue;
    font-size: 20px;   
}
@media screen and (max-width: 400px){
  .container{
    font-size: 5px;
    padding: 5px;
  }
  .center-align{
    font-size: 15px;
  }
  .container top-right{
    float: none;
    margin-top: 0;
  }
}
/*shopping cart table*/

.filter input[type="submit"]{
    width: 10%;
    border: none;
    padding: 5px 10px 25px;
    outline: none;
    height: 20px;
    background: #0786f5;
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
}
@media screen and (max-width: 940px){
  body{
    padding: 0px 0px 80px 0px;
    width: none;
  }
  .order{
    font-size:35px;
    padding-left:0px;
   
}
  .selector{
    height: 190px;
    top: 26%;
  }
  .change label{
    padding-right: 6rem;
}
  .filter input[type="submit"]{
    width: 25%;
  }

}
/*below table*/

.left-side{
  width: 50%;
  float: left;
  padding:0px;
}

.left-side p{
    padding:0px 0px 0px 10px;
    font-size:18px;
    font-weight:bold;
}
.right-side{
    float:right;
    padding:15px;
}
.apply-btn input[type="submit"]
{
    width: 100%;
    height: 30px;
    background: #0786f5;
    color: #fff;
    font-size: 18px;
    border-radius: 50px;
    cursor:pointer;
}
/* .ItemsDisplay input[type="submit"]
{
 
    float: center;
    height: 30px;
    background: #0786f5;
    color: #fff;
    font-size: 18px;
    border-radius: 50px;
    cursor:pointer;
} */
@media screen and (max-width: 700px){
  .ItemsDisplay{
    height: 290px;    
    width:92%;    
  }
  .left-side p{
    padding:0px 0px 0px 0px;
    
  }
  .ItemsDisplay input[type="submit"]{
    font-size: 13px;
  }
  
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 80%;
    margin-top:60px;
  }
  
  .col-select {
    width: 20;
  }
  
  .col-id,
  .col-name,
  .col-price {
    width: 40%;
  }
  
  
  table th {
    text-align: left;
    background-color: black
    text-shadow 1px 1px 0 rgba(0, 0, 0, 0.4);
    
  }
  
  table th,
  table td {
    border: 1px solid #0a0a0a;
    padding: 5px;
   
  }
  
   
  table tbody tr:hover td {
    background-color: #e6dce9;
  }
  
  .text-error{
  color:red;
  font-size:18px;
  font-weight:bold;
  padding:0px 0px 0px 90px;
  
  }
  
  .itemText{
 	color:green;
 	font-weight:bold;
  
  
  }