.container{
  width: 100%;
  background-color:#0786f5;
  height: 110px;
  font-size: 16px;
  padding: 10px;
}
.center-align{
  width: 100%;
  color: aliceblue;
	text-align: center;
	font-size: 45px;
  font-family: cursive; 
}
.container top-right{
  width: 100%;
    float: top;
    margin-top: 100px;
}
header {
  padding-top: 25px; 
}
.container ul{ 
  margin: 0;
  padding: 0;
}
.container form{
  list-style: none;
  float: left;
}/* 
.right form{
	list-style:none;
	float:left;
} */
.right-align form a{
  display: block;
  text-decoration: none;
  color: aliceblue;
  margin-right: 3px;
  padding: 3px 3px 3px 3px;
  border: 1px solid aliceblue;
}
.user{
  float:right;
  padding-right:13px;
  color: aliceblue;
  padding-top:5px;
}
.right-align { 
  text-decoration: none;
  color: #609fd6;;
  float:right;
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 18px;
}
.right-align a:hover{
  background-color: rgb(11, 87, 138);
}

.right a:hover{
  background-color: rgb(11, 87, 138);
}
.right form{
	float:right;
}



.NextEmpty p{
	color:blue;
	font-size:29px;
	font-weight:bold;
}




.right form a{
    color: aliceblue;
    text-decoration: none;
    display: block;
    float:right;
    margin-right: 15px;
	
    padding: 5px 7px -1px 1px;
    border: 1px solid aliceblue;
    font-size: 20px;   
}
@media screen and (max-width: 400px){
  .container{
    font-size: 5px;
    padding: 5px;
  }
  .center-align{
    font-size: 15px;
  }
  .container top-right{
    float: none;
    margin-top: 0;
  }
}
/*shopping cart table*/
.selector{
  position:absolute;
  padding:10px;
  top: 24%;
  left:30%;
  border-collapse: collapse;
  border:0.5px solid #000;
  height:220px;
  width:42%;
  border-radius:20px;
}
.filter input[type="submit"]{
  width: 10%;
  border: none;
  padding: 5px 10px 25px;
  outline: none;
  height: 20px;
  background: #0786f5;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
}
@media screen and (max-width: 940px){

.selector{
  height: 320px;
  top: 26%;
}
.change label{
  padding-right: 6rem;
}
.filter input[type="submit"]{
  width: 25%;
}

}
/*below table*/
.ItemsDisplay{
  position:absolute;
  padding:10px;
  top: 105%;
  right: 1px;
  border-collapse: collapse;
  border:0.5px solid #000;
  height:280px;
  width:97%;
  border-radius:10px;
}
.left-side{
width: 50%;
float: left;
padding:0px;
}

.left-side p{
  padding:0px 0px 0px 10px;
  font-size:18px;
  font-weight:bold;
}
.right-side{
  float:right;
  padding:15px;
}

.ItemsDisplay input[type="submit"]
{

  float: center;
  height: 30px;
  background: #0786f5;
  color: #fff;
  font-size: 18px;
  border-radius: 50px;
  cursor:pointer;
}
@media screen and (max-width: 700px){
.ItemsDisplay{
  height: 380px;    
  width:92%;    
}
.left-side p{
  padding:0px 0px 0px 0px;
  
}
.ItemsDisplay input[type="submit"]{
  font-size: 13px;
}
}
/*table css*/
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 80%;
}
.col-select {
  width: 20;
}
.col-id{
  width: 40%;
}
.col-name,
.col-price {
  width: 40%;
}
.col-quantity{
  width: 40%;
}
table th {
  text-align: left;
  background-color: black
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}
table th,
table td {
  border: 1px solid #0a0a0a;
  padding: 5px; 
}
table tbody tr:hover td {
  background-color: #e6dce9;
}
/*cart css*/
.cart-button button{
    width: 100%;
    height: 30px;
    background: #0786f5;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    cursor:pointer;
}
.table-box{
    position:absolute;
    padding:10px;
    top: 35%;
    left:25%;
    border-collapse: collapse;
    border:2px solid black;
    height:310px;
	width:50%;
	border-radius:20px;  
}
.cart-button{
	float:right;	
  padding-right: 80px;	
  padding-top: 10px;
}
.page-name{
	padding-left: 21rem;
	padding-top: 25px;
	font-size:35px;
	color:black	
}
.cart-table{
  padding:40px 30px 30px 30px;
  padding-top: 10%;
}
.cart-table input[type="number"]{
    width:100px;
  }
.pagination{
	padding:-1px;
  padding-left: 10px;
}
.error{
	color:red;
	font-size:20px;
}
 .pagination button{
	float: center;
    height: 30px;
    background: #0786f5;
    color: #fff;
    font-size: 18px;
    border-radius: 50px;
    cursor:pointer;
    
}
@media screen and (max-width: 700px){
	.table-box{
		height: 290px;    
		width: 70%;   
		left: 15%; 
	  }
	  .cart-button{
      float:right;	
      padding-right: 5px;	
      padding-top: 2px;
    }
	   .pagination button{
		font-size: 15px;
		height: 30px;
	  }
	  .page-name{
		padding-left: 5rem;
		padding-top: 50px;
		font-size:25px;
		color:black	
	}
}

.textBoxError {
	color:red;
	font-weight:bold;
}

.paymentText{

	font-weight:bold;
}

.EmptyMessage{
	font-size:35px;
	font-weight:bold;
	color:#0786f5;
}
    