body{
       /* background:#c28f8f; */
       margin:0px;
       padding:0px;
}


.left-align{
       
       float:left;
       padding:10px 10px 10px 60px;
       
       
}


.left-align p{
       
       font-size:35px;
       font-family:cursive;
       color:#0786f5;
       font-weight:bold;
}
.right-align p{
       font-family:fangsong;
}


.right-align{
       
       float:right;
       padding:10px 10px 10px 10px;
       
}
.right-align li{
       display:inline-block;
       font-size:20px;
       padding:0px 10px 10px 10px;
}
li{
       list-style-type:none;
}

.right-align input[type="submit"]
{
    border: none;
    outline: none;
    height: 30px;
    background:#0786f5;
    color: #fff;
    font-size: 20px;
    border-radius: 20px;
    cursor:pointer;
}

.selector{
       position:absolute;
       padding:10px;
       top: 23%;
       left:30%;
       border-collapse: collapse;
       border:0.5px solid #000;
/*     border-style:groove; */
       height:160px;
       width:42%;
       border-radius:10px;
/*     background-color:#87eda2; */
/*     border-radius:1px; */
/*     border-width: thin 1px 1px 1px; */
       
}
.text small{
       font-size:10;
       color:grey;
       
}

.body-box {
       font-family: sans-serif;
       font-size: 14px;    
}

.selector p{
       padding:45px 45px 55px 100px;
       font-size:20px;
       font-weight: ;
       font-family: serif;
}


.selector li{
       list-style-type:none;
/*     line-height:5px; */
       padding:0px 0px 3px 15px; 
       display:inline-block;
       font-size:16px;
       font-weight:bold;
       color:#000000;
}



.box {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.box select {
  background-color: white;
  color: #8D919B;
  padding: 3px;
  width: 200px;
  border-radius:10px;
  font-size: 18px;

}
.selector p{
       color:#8D919B;
       font-size:20px;
       font-weight:;
}



.selector input[type="submit"]
{
    border: none;
       padding:10px 25px 10px 25px;
    outline: none;
    height: 30px;
    background: #0786f5;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
}

.ItemsDisplay{
       position:absolute;
       padding:10px;
       top: 53%;
       left:30%;
       border-collapse: collapse;
       border:0.5px solid #000;
/*     border-style:groove; */
       height:280px;
       width:42%;
       border-radius:10px;
/*     border-width: thick 10px 10px 10px; */
}

.left-side{
       float:left;
       padding:0px;
}

.left-side p{
       padding:0px 0px 0px 10px;
       font-size:18px;
       font-weight:bold;
}
.right-side{
       float:right;
       padding:15px;
}

.apply-btn input[type="submit"]
{
       height: 30px;
    background: #0786f5;
    color: #fff;
    font-size: 18px;
    border-radius: 50px;
    cursor:pointer;
}
.ItemsDisplay input[type="submit"]
{
       float:right;
    height: 30px;
    background: #0786f5;
    color: #fff;
    font-size: 18px;
    border-radius: 50px;
    cursor:pointer;
}

table,th,td{
       clear:both;
       border:1px solid black;   
}
table{
       border-collapse:collapse;
}
.btn{
       background-color:#0786f5;
       border:none;
       color: white;
       text-align: center;
/*     cursor:pointer; #808080*/
       font-size:24px;
       padding:10px 25px;
       border-radius: 15px;
       margin:4px 2px;
       cursor:pointer;
}
.top
{
       font-family:cursive;
       width:100%;
       text-align: center;
       height:80px;
/*     top: 1%; */
      color:white;
       font-size:28px;
      border:0.5px solid white; 
       border-radius:10px; 
}
.top th
{
       text-align:right;
       background-color:#59AEFB;
       border:0.5px solid #59AEFB; 
       width:80px;
       height:60px;
}
/* th 1{ */
       
/*     width:80px; */
/*     height:60px; */
/*     background-color:#59AEFB; */
/* } */
th one{
       
}
td{
       width:100px;
       height:20px;
       padding:20px;
}
#color1{
/*     background-color:#d4c419; */
}
#color2{
/*     background-color:#74c9cc; */
}

 .table{
       padding:0px 90px 90px 100px;
}

a{
       color:black;
       text-decoration:none;
}
.image1{
       position:absolute;
       top:70%;
       left:42%;
       cursor: pointer;
}
.image1 img{
       width:30px;
       height:30px;
       padding:10px;
       cursor: pointer;
}

.pager-nav {
    margin: 16px 0;
}
.pager-nav span {
    display: inline-block;
    padding: 4px 8px;
    margin: 1px;
    cursor: pointer;
    font-size: 14px;
    background-color: #FFFFFF;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.pager-nav span:hover,
.pager-nav .pg-selected {
    background-color: #f9f9f9;
    border: 1px solid #CCCCCC;
}

