
  .dashboard {
    padding-top: 5em;
    padding-right: 5em;
    font-size: 20px;
    
  }
.firstboxname{
  padding-top:4.5px;
  font-weight: bold;
}
.device{
  padding-top:5px;
}
  .container{
    text-align: center;
    padding-top: 4em;
    padding-left: 13em;
  }
  .container11{
   
    top: 15em;
    left:23em;
    position: absolute;

  }
  .container12{
    top: 15.1em;
    left:26.6em;
   padding-top:0.3em;
    position: absolute;

  }
  .container13{
    text-align: center;
  }
  .con{
    margin-left: 4.4em;
    margin-top: -3.6em;
    position: absolute;
  }
  .con1{
    margin-left: 7.3em;
    margin-top: -3.6em;
    position: absolute;
  }
  
  
  .table{
    margin-left: 70px;
    padding-top:-1.5em ;
    margin-top: -1.7em;
    width: 400%;
    padding-left: 18em;
    text-align: center;
    line-height:1em;
    position: absolute;
  }
  table, th, td {
    border: 1px solid black;

    
  }

  td{
    width:150px;
    height:20px;
    padding:20px;
}
  
  .btn{
    text-align: center;
    padding-left: 22.2em;
    font-size: 19px; 
    margin-top:12em;
    position: absolute;
    
  }
  .btn5{
    text-align: center;
    padding-left: 22.2em;
    font-size: 19px; 
    margin-top:19em;
    position: absolute; 
  }
  .btn10{
    text-align: center;
    padding-left: 22.2em;
    font-size: 19px; 
    margin-top:34em;
    position: absolute; 
  }
  /* .page{
    position: fixed;
  } */