
<bs-navbar></bs-navbar>
<!-- <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner> -->
<div class="dashboard text-center">
  <h2 class="h2">Device List</h2>
</div>

<form  class="container">     
  <div>  
  <input class="container11" type="submit" name="edit" value="Show">
    <select class="container12" id="rowsPerPage" (change)="handleRowsPerPage($event)">
      <option></option>
      <option class="container13">3</option>
      <option>5</option>
      <option>10</option>
    </select>
        <input class="con" type="submit" name="edit" value="Edit">
        <input class="con1" type="submit" name="delete" value="Delete"> 
    </div>
</form>




<div class="table">
<table class="table1"  >
    <thead >
      
      <th > <h4 class="firstboxname">Select</h4></th>
        <th > Device Name <br/>
        <div class="device" > 
          <input  size="12" type="text" placeholder="search" [(ngModel)]="searchText"/>
        </div>     
      </th>
      <th> Device Type <br/>
        <div  class="device">
          <input size="12" type="text" placeholder="search" [(ngModel)]="searchTextType"/>
        </div></th>
      <th >Firmware <br/>
        <div  class="device"> 
          <input size="12" type="text" placeholder="search" [(ngModel)]="searchTextFirmware"/>
        </div> </th>
    </thead>
    <!-- <div>
      <mat-spinner *ngIf="show"></mat-spinner>
      </div> -->
    <tbody>
     <tr *ngFor="let device of deviceInfo | keyvalue   | paginate: { 
     itemsPerPage: rowsPerPage,
     currentPage: page}
     | filter:searchText | filter:searchTextType |  filter:searchTextFirmware">   
      <td><input name="radio" type="radio" (click)="getSelectedDevice($event)" value={{device|json}}/></td>
      <td>{{ device.key  }}  </td>
      <td>{{ device.value.device_type }} </td>
      <td>{{ device.value.firmware }} </td> 
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="rowsPerPage == 10">
  <div class="btn10">
    <pagination-controls (pageChange)="page=$event"></pagination-controls>
  </div> 
</div>
<div *ngIf="rowsPerPage == 3">
  <div class="btn">
    <pagination-controls (pageChange)="page=$event"></pagination-controls>
  </div> 
</div>
<div *ngIf="rowsPerPage == 5">
  <div class="btn5">
    <pagination-controls (pageChange)="page=$event"></pagination-controls>
  </div>
</div>

