<!-- <p>device-list works!</p>
 -->

 <nav class="navbar navbar-expand-lg fixed-top">
    <div class="navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <div class="hdd">
            <b class="nav-link1" href="#">Home Device Database</b>
          </div>
        </li>
      </ul>
      <form class="form-inline1 my-2 my-lg-0">
        <div class="nav-item">
          <b class="nav-link" href="#">Log Out</b>
        </div>
      </form>
    </div>
  </nav>
  
  <div class="nav-scroller navbar-dark">
    <nav class="nav nav-underline">
      <li class="nav-item">
        <a class="nav-link" href="#">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/device-list">Device List</a>
      </li>
      <form class="form-inline my-2 my-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">User</a>
        </li>
      </form>
    </nav>
  </div>
<div class="data">
  <body class="data1">
    <label class="data2" for="deviceName" >Device Name </label>
    <select name="devicename" id="devicename">
      <option value="mobile"> </option>
        <option value="mobile">Samsung</option>
        <option value="mobile">MI</option>
        <option value="mobile">Vivo</option>
    </select>
    <label class="data2-1" for="deviceType" >Device Type </label>
    <select name="deviceType" id="deviceType">
      <option value="mobile"> </option>
        <option value="mobile">Samsung</option>
        <option value="mobile">MI</option>
        <option value="mobile">Vivo</option>
    </select>
</body>
</div>


<form class="container">
    <div class="container1">
        <span class="edit"><a href="# ">Edit/Delete</a></span>
      </div>
    </form>



<div class="table">
<table class="table1">
    <tr>
      <th>Select</th>
      <th>Name</th>
      <th>Type</th>
      <th>Firstname</th>
    </tr>
    <tr>
      <td><input type="radio"/></td>
      <td></td>
      <td></td>
      <td></td> 
    </tr>
    <tr>
      <td><input type="radio"/></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
        <td><input type="radio"/></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  </table>
</div>

<div class="btn">
    <a class="btn-1" href="?p=2" rel="previous" aria-label="Previous page">&laquo;</a>
    <a href="?p=2" rel="previous" aria-label="Previous page">&laquo;</a>
    <a class="btn-2" href="?p=2" rel="next" aria-label="Next page">&raquo;</a>
    <a href="?p=2" rel="next" aria-label="Next page">&raquo;</a>
    
</div>