<bs-navbar></bs-navbar>
<div class="dashboard text-center">
  <h2 class="h2">Device List</h2>
</div>

<form  class="container">     
  <div>  
  <input class="container11" type="submit" name="edit" value="Show">
    <select class="container12" id="rowsPerPage" (change)="handleRowsPerPage($event)">
      <option></option>
      <option class="container13">3</option>
      <option>5</option>
      <option>10</option>
    </select>
    <div>
      <div class="btn-group">
        <button [disabled]="selectedDeviceName?false:true" type="button" (click)="open(delete)" class="btn ">DELETE</button>
        <button [disabled]="selectedDeviceName?false:true" type="button" (click)="open(edit)" class="btn ">EDIT</button>
      </div>
    </div>
        <!-- <input class="btn" type="button" (click)="open(edit)" name="edit" value="Edit"> -->
        <!-- <input class="con1" type="submit" name="delete" value="Delete">  -->
    </div>
</form>
<!-- <form  (submit)="enableData()" class="container"> -->
    <!-- <div> -->
        <!-- <input class="con" data-toggle="modal" data-target="#myModal" (click)="handleEdit($event)" type="button" name="edit" value="Edit"> -->
        <!-- <div class="btn-group"> -->
          <!-- <form (submit)="handleEdit($event)"></form> -->
          <!-- <button [disabled]="selectedDeviceName?false:true" type="button" (click)="open(edit)" class="btn ">EDIT</button> -->
          <!-- </form> -->
          <!-- <button [disabled]="selectedDeviceName?false:true" type="button" (click)="open(delete)" class="btn ">DELETE</button> -->
        
          <!-- <label for="rowsPerPage">Show</label>
          <select style="width: 80px;" class="form-control" id="rowsPerPage" (change)="handleRowsPerPage($event)">
            <option>3</option>
            <option>5</option>
            <option>10</option>
          </select> -->
        <!-- </div>
      </div> -->
    <div class="table">
      <table class="table1"  >
          <thead>    
            <th > <h4 class="firstboxname">Select</h4></th>
              <th > Device Name <br/>
              <div class="device" > 
                <input  size="12" type="text" placeholder="search" [(ngModel)]="searchText"/>
              </div>     
            </th>
            <th> Device Type <br/>
              <div  class="device">
                <input size="12" type="text" placeholder="search" [(ngModel)]="searchTextType"/>
              </div></th>
            <th >Firmware <br/>
              <div  class="device"> 
                <input size="12" type="text" placeholder="search" [(ngModel)]="searchTextFirmware"/>
              </div> </th>
          </thead>
    <tbody>
     <tr *ngFor="let device of deviceInfo | keyvalue | paginate: { id: 'listing-pagination',
     itemsPerPage: rowsPerPage,
     currentPage: page} | filter:searchText | filter:searchTextType |  filter:searchTextFirmware">  
      <td><input name="radio" type="radio" (click)="getSelectedDevice($event)" value={{device|json}}/></td>
      <td>{{ device.key }} </td>
      <td>{{ device.value.device_type }}</td>
      <td>{{ device.value.firmware }}</td> 
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="rowsPerPage == 10">
  <div class="btn10">
    <pagination-controls id="listing-pagination" maxSize="5" directionLinks="true" (pageChange)="page=$event"></pagination-controls>
  </div> 
</div>
<div *ngIf="rowsPerPage == 3">
  <div class="btn1">
    <pagination-controls  id="listing-pagination" maxSize="5" directionLinks="true"(pageChange)="page=$event"></pagination-controls>
  </div> 
</div>
<div *ngIf="rowsPerPage == 5">
  <div class="btn5">
    <pagination-controls id="listing-pagination" maxSize="5" directionLinks="true" (pageChange)="page=$event"></pagination-controls>
  </div>
</div>
<!-- <div class="btn">
    <pagination-controls class="btn-1" id="listing-pagination" maxSize="5" directionLinks="true" (pageChange)="page=$event"></pagination-controls>
</div>  -->
<!-- <button type="button"  (click)="showModel()">Open Modal</button> -->
<ng-template #edit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">EDIT DEVICE INFO</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (submit)="handleEditSubmit($event)" *ngIf="!saveSuccess">
      <div class="form-group"> 
        <label for="_selectedDeviceName" >Device Name </label>
        <input class="form-control" type="text" id="_selectedDeviceName"  (keyup)="handleSelectedDeviceName($event)" value={{selectedDeviceName}} disabled/>
      </div>
      <div class="form-group">
        <label class="editvalue" for="_selectedDeviceType" >Device type </label>
        <input class="form-control" type="text" id="_selectedDeviceType" (keyup)="handleSelectedDeviceType($event)" value={{selectedDeviceType}} (change)="handleDeviceTypeChange($event)"/>
      </div>
      <div class="form-group">
        <label class="editvalue" for="_selectedDeviceFirmware" >Firmware </label>
        <input class="form-control" type="number" id="_selectedDeviceFirmware" (keyup)="handleSelectedDeviceFirmware($event)" value={{selectedDeviceFirmware}} (change)="handleDeviceFirmwareChange($event)"/>
      </div>
      <div class="form-group">
        <!-- <input type="submit" value="Save" /> -->
        <button type="submit">SAVE</button>
        <button (click)="modal.close()">CLOSE</button>
      </div>
    </form>
    <p *ngIf="saveSuccess"> Saved Successfully</p>
  </div>
  <!-- (click)="modal.close('Save click')" --> 
 
</ng-template>

<ng-template #delete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">DELETE DEVICE INFO</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (submit)="handleDeleteSubmit($event)" *ngIf="!deleteSuccess">
      <div class="form-group"> 
        <label for="_selectedDeviceName" >Device Name </label>
        <input class="form-control" type="text" id="_selectedDeviceName"  (keyup)="handleSelectedDeviceName($event)" value={{selectedDeviceName}} disabled/>
      </div>
      <h3>Are you sure to delete {{selectedDeviceName}}?</h3>
      <div class="form-group">
        <button type="submit">DELETE</button>
        <button (click)="modal.close()">CLOSE</button>
      </div>
    </form>
    <p *ngIf="deleteSuccess"> Deleted Successfully</p>

  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Delete click')">DELETE</button>
  </div> -->
</ng-template>