 <div class="loginbox">
 <form >
        <h1>Login Here</h1>
            <form (submit)="loginUser($event)">
                <p>Username:</p>
                <input type="text" name="name" placeholder="Enter username">
                <p>Password:</p>
                <input type="text" name="password" placeholder="Enter password">
                <input type="submit" name="" value="Login">
        
        <div class="container" style="background-color:#f1f1f1">
            <span class="psw"> <a href="#"> Reset Password</a></span>
          </div>
          </form>
    </form>
</div>


















   