<div id="fullPage">
    <!-- <app-header></app-header> -->
  
    <router-outlet></router-outlet>
  
    <!-- <app-footer></app-footer> -->
  </div>
  <!-- <div class="loginbox">
    <form >
        <div class="login">
           <h1>Login Here</h1>
       </div>
               <form (submit)="fetchUser($event)">
                   <p>Username:</p>
                   <input type="text" placeholder="Enter Username">
                   <p>Password:</p>
                   <input type="password" name="password" placeholder="Enter password" >
                   <input type="submit" name="" value="Login">
               </form>
               <form >
                   <div class="container">
                       
                       <span class="psw">Reset <a href="resetpassword ">password</a></span>
                     </div>
                   </form>
       </form>
   </div> -->
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
      