<!-- <a routerLink="/login-form/pie-chart"> -->
<div class="dashboard text-center">
  <h1 class="h2"></h1>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="heading1">
      <b>Device Distribution </b>
    </div><br>
    <div style="display: block">
      <canvas id="hddpiechart">{{HddPieChart}}</canvas>
    </div>
    

    
  </div>
  <div class="col-md-6">
    <div class="heading">
      <b>Device Performance</b>
    </div><br>
    <div class="chart-wrapper" style="height: 500px; width:100%;">
      <canvas id="hddbarchart">{{HddBarChart}}</canvas>
    </div>
    

  </div>
</div>
<!-- </a> -->