
<div class="loginbox">
    <form >
        <div class="login">
           <h1>Reset Password Here</h1>
       </div>
               <form (submit)="passwordReset($event)">
                <div class="form-group">
                    <p>Username <span style="color: red"> * </span></p>
                      <input 
                          #username="ngModel" 
                          ngModel name="username" 
                          id="username" 
                          type="text" 
                          class="form-control"
                          (keyup)="handleUserName($event)"
                          autocomplete="off"
                          required /> 
                   <div class="alert alert-danger alertbox" *ngIf="username.touched && username.invalid">
                          Username is required.
                      </div>
                      <div class="alert alert-danger alertbox" *ngIf="userNotExist">
                          User Does not Exist
                        </div>
                  </div>

                  <div class="form-group">
                    <p>New Password <span style="color: red"> * </span></p>
                    <input 
                        #password="ngModel" 
                        ngModel type="password" 
                        name="password" 
                        class="form-control" 
                        id="password"
                        placeholder="Enter password"
                        (keyup)="handleNewPassword($event)"
                        autocomplete="off"
                        required />

                    <div class="alert alert-danger alertbox" *ngIf="password.touched && password.invalid">
                        New Password is required.
                    </div>
                  </div>

                  <p>Confirm Password <span style="color: red"> * </span></p>
                  <input 
                    #confirmpassword="ngModel" 
                    ngModel type="password" 
                    name="confirmpassword" 
                    class="form-control" 
                    id="confirmpassword" 
                    placeholder="Enter password"
                    (keyup)="handleConfirmPassword($event)"
                    autocomplete="off"
                    required />

                  <div class="alert alert-danger alertbox" *ngIf="confirmpassword.touched && confirmpassword.invalid">
                      Confirm Password is required
                  </div>
                  <div class="alert alert-danger alertbox" *ngIf="passwordMismatch">
                      Both Passwords Mismatched
                  </div>
                  
                  
                 <input type="submit" [disabled]="passwordMismatch || userNotExist" name="" value="Reset Password"/>

               </form>
               
       </form>
   </div> 
