<div class="loginbox">
    <form >
        <div class="login">
           <h1>Login Here</h1>
       </div>
               <form (submit)="User($event)">
                   <p>Username:</p>
                   <input type="text" placeholder="Enter Username">
                   <p>New Password:</p>
                   <input  #password="" type="password" name="password" placeholder="Enter password" required>
                   <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
                       Password is required.
                   </div>
                   <p>Renter Password:</p>
                   <input  #password="" type="password" name="password" placeholder="Enter password" required>
                   <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
                       Password is required.
                   </div>
                   <input type="submit" name="" value="Login">
               </form>
               
       </form>
   </div>
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
      