/* .jumbotron {
    border-radius: 15px !important;
    border: solid 1px grey !important;
    background-color: white;
    margin-left: 0.1%;
    margin-right: 0.1%;
    margin-top: 0%;
    padding: 0px;
 } */
 /* // this.userDetServ.fetchDevices().subscribe(data =>{ 
    //   let deviceIds = Object.keys(data)
    //   this.devices = deviceIds.map(id => {
    //     return data[id];
    //   })
    //   console.log("DEVICES>>>", this.devices);
    // }); */